<%- include('partials/header') %>
<body>
    <section class="w-[100%] h-[100vh]">
        <h1>No tienes acceso a esta seccion </h1>
        <a href="http://localhost:3000">Volver al inicio</a>
    </section>
</body>
<%- include('partials/footer') %>